* {
  margin: 0px;
  font-family: Quicksand;
  font-weight: bold;
}

.img-soup {
  height: 3em;
  width: 3em;
}

.img-soup:hover {
  height: 3em;
  width: 3em;
  transform: rotate(180deg);
}

.background-image {
  height: 7em;
  border-bottom: 5px solid black;
  background-image: url(soupHedar.webp);
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  background-repeat: no-repeat;
  align-items: center;
  font-size: 5em;
  justify-content: center;
  background-size: cover;
}

.soup-image {
  width: 3em;
  display: block;
}

.soup-info-image {
  width: 30%;
  text-align: center;
}
.soup-info {
  display: inline;
}
.first-div {
  text-align: center;
  margin: 10px;
}

p {
  font-size: 1em;
}

.continer {
  margin: 10em;
  font-size: larger;
  font-weight: 500;
}

.marker {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: rgb(255, 0, 225, 0.2);
  max-width: 6em;
  min-width: 5em;
  border-radius: 30em;
}
